@model Application.DTO.AtendimentoDTO

@{
    ViewBag.Title = "Novo Atendimento";
}

<h2>Registrar Atendimento Médico</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.PacienteId, "Paciente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PacienteId", null, "Selecione um Paciente...", htmlAttributes: new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.PressaoArterial, "Pressão Arterial", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PressaoArterial, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex: 120/80", id = "PressaoArterial", maxlength = "7" } })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.Temperatura, "Temperatura (°C)", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Temperatura, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Ex: 36,50", id = "Temperatura", maxlength = "5" } })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.FrequenciaCardiaca, "Freq. Cardíaca (BPM)", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FrequenciaCardiaca, new { htmlAttributes = new { @class = "form-control", type = "text", id = "FrequenciaCardiaca" } })
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar Entrada" class="btn btn-success" />
                @Html.ActionLink("Ver Histórico", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

<script>
    document.getElementById('PressaoArterial').addEventListener('input', function () {
        var digits = this.value.replace(/[^0-9]/g, '');
        digits = digits.substring(0, 6);
        if (digits.length > 3) {
            this.value = digits.substring(0, 3) + '/' + digits.substring(3);
        } else {
            this.value = digits;
        }
    });

    document.getElementById('Temperatura').addEventListener('input', function () {
        var digits = this.value.replace(/[^0-9]/g, '');
        digits = digits.substring(0, 4);
        if (digits.length > 2) {
            this.value = digits.substring(0, 2) + ',' + digits.substring(2);
        } else {
            this.value = digits;
        }
    });

    document.getElementById('FrequenciaCardiaca').addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
</script>